/* Temas del segundo período*/

.texto{
   
    font-size: 50px;
    padding-top: 140px;
    text-align: justify;
    color: rgb(20, 20, 20);
}
.principal{
   display: flex;
     
}
body{
    background-image: url("web3.jpg");
  

}

.imp{  
height:300px;
width: 600px;
background-image: url("descarga\ \(1\).jfif");

background-repeat: no-repeat;
float: left;
}

.titulo{

    font-size: 75px;
    color: black;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.suge{

    font-size: 50px;
    color: black;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.img1{
    
    float: left;
    background-repeat: no-repeat;
    height: 376px;
    width: 375px;
    background-image: url("ciclo.jpeg")
    

}


 .imp1{
    float: left;
    background-repeat: no-repeat;
    height: 550px;
    width: 580px;
    background-image: url("ovulacion.jpg");
 }
.imp2{
    float: left;
    background-repeat: no-repeat;
    height: 600px;
    width: 800px;
    background-image: url("fase1.png");

}
.img5{
    background-repeat: no-repeat;
    height: 600px;
    width: 800px;
    background-image: url("flujo.jpeg");


}

.m1{
    background-repeat: no-repeat;
    height: 1000px;
    width: 1000px;
    background-image: url("polinomios.jpgs");



}
.m2{
    background-repeat: no-repeat;
    height: 1000px;
    width: 1000px;
    background-image: url("suma1.png");



}

.m3{

    background-repeat: no-repeat;
    height: 1000px;
    width: 1000px;
    background-image: url("rest2.png");

}
.m4{
    background-repeat: no-repeat;
    height: 1000px;
    width: 1000px;
    background-image: url("rest3.png");

}

.mm2{
    background-repeat: no-repeat;
    height: 1000px;
    width: 1000px;
    background-image: url("man.jpg");


}
.mm3{

    background-repeat: no-repeat;
    height: 1000px;
    width: 1000px;
    background-image: url("bulimia.png");


}
.p1{
    background-repeat: no-repeat;
    height: 1000px;
    width: 1000px;
    background-image: url("k.avif");


}


.q1{
    background-repeat: no-repeat;
    height: 1000px;
    width: 1000px;
    background-image: url("sun.png");


}
.q2{
    background-repeat: no-repeat;
    height: 1000px;
    width: 1000px;
    background-image: url("q3.png");


}

.q3{
    background-repeat: no-repeat;
    height: 1000px;
    width: 1000px;
    background-image: url("frut.png");

}
.q4{
    background-repeat: no-repeat;
    height: 1000px;
    width: 1000px;
    background-image: url("meditar.png");





}
.q5{
    background-repeat: no-repeat;
    height: 1000px;
    width: 1000px;
    background-image: url("dientes.png");


}
.q6{
    background-repeat: no-repeat;
    height: 1000px;
    width: 1000px;
    background-image: url("comida\ chat.png");


}
.q7{
    background-repeat: no-repeat;
    height: 1000px;
    width: 1000px;
    background-image: url("bebida\ en.png");


}
.q8{
    background-repeat: no-repeat;
    height: 1000px;
    width: 1000px;
    background-image: url("aud.png");


}
.q9{
    background-repeat: no-repeat;
    height: 1000px;
    width: 1000px;
    background-image: url("carnes.avif");


}
.q10{
    background-repeat: no-repeat;
    height: 1000px;
    width: 1000px;
    background-image: url("smothies.png");

}
.q11{
    background-repeat: no-repeat;
    height: 1000px;
    width: 1000px;
    background-image: url("redes.png");

}
.q12{
    background-repeat: no-repeat;
    height: 1000px;
    width: 1000px;
    background-image: url("tarde.png");

}
.w1{
    background-repeat: no-repeat;
    height: 1000px;
    width: 1000px;
    background-image: url("suma12.webp");

}
.w2{
    background-repeat: no-repeat;
    height: 1000px;
    width: 1000px;
    background-image: url("suma14.webp")

}
.w3{
    background-repeat: no-repeat;
    height: 1000px;
    width: 1000px;
    background-image: url("resta.png")


}
.w4{
    background-repeat: no-repeat;
    height: 600px;
    width: 600px;
    background-image: url("resta3.png")


}
.w5{
    background-repeat: no-repeat;
    height: 600px;
    width: 600px;
    background-image: url("division\ polinomio.png")


    
}
.w6{
    background-repeat: no-repeat;
    height: 600px;
    width: 600px;
    background-image: url("divi.png")


}
.w7{
    background-repeat: no-repeat;
    height: 600px;
    width: 600px;
    background-image: url("binomios.png")

}
.w8{
    background-repeat: no-repeat;
    height: 600px;
    width: 600px;
    background-image: url("conjugado.png")

}
.w9{
    background-repeat: no-repeat;
    height: 600px;
    width: 600px;
    background-image: url("conju.png")


}
.w10{
    background-repeat: no-repeat;
    height: 600px;
    width: 600px;
    background-image: url("polino.png")

}
.w11{
    background-repeat: no-repeat;
    height: 600px;
    width: 600px;
    background-image: url("po.png")

}
.w12{
    background-repeat: no-repeat;
    height: 600px;
    width: 600px;
    background-image: url("nota.png")


}
.w13{
    background-repeat: no-repeat;
    height: 600px;
    width: 600px;
    background-image: url("iden.png")


}
.a1{
    background-repeat: no-repeat;
    height: 600px;
    width: 600px;
    background-image: url("cicuito.png")


}
.a2{
    background-repeat: no-repeat;
    height: 600px;
    width: 600px;
    background-image: url("ejemplo.png")
}
.a3{
    background-repeat: no-repeat;
    height: 600px;
    width: 600px;
    background-image: url("pauli3.png")
}

.z1{
    background-repeat: no-repeat;
    height: 600px;
    width: 600px;
    background-image: url("oooooo.png")
}
.z2{
    background-repeat: no-repeat;
    height: 600px;
    width: 600px;
    background-image: url("visua.png")
}
.z3{
    background-repeat: no-repeat;
    height: 600px;
    width: 600px;
    background-image: url("excellll.jpg")
  
}

.mg2{
    background-repeat: no-repeat;
    height: 1100px;
    width: 1100px;
    background-image: url("mater.webp")
  

}
.mge3{

    background-repeat: no-repeat;
    height: 1100px;
    width: 1100px;
    background-image: url("Designer.jpeg")
  
 


}
.k1{
    background-repeat: no-repeat;
    height: 1300px;
    width: 1300px;
    background-image: url("a.png")
  

}

.k2{
    background-repeat: no-repeat;
    height: 1300px;
    width: 1300px;
    background-image: url("cubu.jpg")
  

}
.k3{
    background-repeat: no-repeat;
    height: 1300px;
    width: 1300px;
    background-image: url("multi.png")
  

}

.k4{
    background-repeat: no-repeat;
    height: 1300px;
    width: 1300px;
    background-image: url("3.png")
   
}
.m1{
    background-repeat: no-repeat;
    height: 1300px;
    width: 1300px;
    background-image: url("trata.png")
   
}
.m2{
    background-repeat: no-repeat;
    height: 1300px;
    width: 1300px;
    background-image: url("escuchar.png")
   
}
.m5{
    background-repeat: no-repeat;
    height: 1300px;
    width: 1300px;
    background-image: url("tolerancia.png")
   
}
.m6{
    background-repeat: no-repeat;
    height: 1300px;
    width: 1300px;
    background-image: url("violencia.png")
   
}

.m7{
    background-repeat: no-repeat;
    height: 1300px;
    width: 1300px;
    background-image: url("comunidad.webp")
   
}
.m8{
    background-repeat: no-repeat;
    height: 1300px;
    width: 1300px;
    background-image: url("estereotipo.png")
   
}










